# .gitignore

# Ignore node_modules folder
node_modules/
dist/

# Ignore environment variables and secrets
.env
client-id.txt
app/src/firebaseConfig.tsx
# Ignore build folder
lib/
js/
.firebase/

# Ignore logs
*.log